<p>Current user <%= "#{current_user.try :provider} #{current_user.try :uid}" %></p>
<p>Songs index</p>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<br><br><hr><br>

<table class='table'>
	<%= form_tag download_path, method: :get do %>
		<%= submit_tag 'Download' %>
		<% @songs[0..10].each do |song| %>
			<tr>
				<td>
					<%#= check_box_tag 'songs[]', {url: song.url, filename: "#{song.artist} - #{song.title}"}.to_json, false %>
				</td>
				<td>
					<audio controls>
						<source src=<%= song.url %> type="audio/mp3" preload=none>
					</audio>
				</td>
				<td>
					<%= link_to  download_path(url: song.url, filename: "#{song.artist} - #{song.title}") do %>
						<span class='glyphicon glyphicon-download'></span>
					<% end %>
				</td>
				<td>
					<%= "#{song.artist} - #{song.title}" %>
					<%= link_to 'Download', song.url, download: "#{song.artist} - #{song.title}.mp3" %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>