<span class='glyphicon glyphicon-user'><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
<br>
<%= image_tag current_user.try :photo_url %>
<br>
<%= image_tag 'exit.png' %><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<hr>

<%= form_tag download_zip_path, method: :post do %>
	<%= submit_tag 'Download', class: 'btn btn-success' %> 
	<div id='content'>
		<% @songs.each do |song| %>
			<%= render partial: 'song', locals: {song: song} %>
		<% end %>
	</div>
	<div id="page_links">
		<%= will_paginate @songs, renderer: RemoteLinkPaginationHelper::LinkRenderer %>
	</div>
<% end %>
