<p>Current user <%= "#{current_user.try :provider} #{current_user.try :uid}" %></p>
<%= image_tag current_user.photo_url %>
<p>Songs index</p>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<br><br><hr><br>


<input type='hidden' id='current_page' />  
<input type='hidden' id='show_per_page' /> 
<div id='page_navigation'></div> 
	<%= form_tag download_zip_path, method: :post do %>
		<%= submit_tag 'Download', class: 'btn btn-success' %> 
		<div id='content'>
			<% @songs[0...10].each do |song| %>
				<%= render partial: 'song', locals: {song: song} %>
				<br>
			<% end %>
		</div>
	<% end %>
